.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
  padding-top: 70px;
}

.gallery {
  width: 100%;
  float: left;
}
.gallery img {
  width: 100%;
  height: auto;
}
.gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
}
.gallery figcaption {
  display: none;
}
