<div class="container">
  <div class="row">
    <div ng-show="removeSuccess"  class="alert alert-danger animated fadeIn">{{removeMessage}}</div>
    <div ng-show="addSuccess" class="alert alert-success animated fadeIn">{{addMessage}}</div>
    <div ng-show="error" class="alert alert-danger animated fadeIn">{{errorMessage}}</div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h2>New Blog Post</h2>
      <p><b>Author: {{author}}</b></p>
      <p><b>Date: {{today}}</b></p>
      <form ng-show="success" ng-submit="add()" id="blogForm">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" ng-model="b_title" required>
        </div>
        <div class="form-group">
          <label>Contents</label>
          <textarea type="text" rows=20 class="form-control" ng-model="b_body" form="blogForm" required/>
        </div>
        <div>
          <button style="width: 20%;" type="submit" class="btn-lg btn-primary" ng-disabled="disabled">Post</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12" ng-show="success">
      <h3>Heroes on the Water Blog: <span ng-bind="allItems.length"/> Entries</h3>
      <div style="overflow: auto; height:400px;">
        <table class="table table-hover">
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Date</th>
            <th>Content</th>
            <th style="text-align:center">Delete</th>
          </tr>
          <tr ng-repeat="item in allItems">
            <td>{{item.title}}</td>
            <td>{{item.author}}</td>
            <td>{{item.timestamp}}</td>
            <td>{{item.body}}</td>
            <td style="text-align:center"><a href=""><span class="glyphicon glyphicon-remove-sign" ng-click="remove($index)" aria-hidden="true"></span></a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>
