<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h3>Heroes on the Water Blog: <span ng-bind="allItems.length"/> Entries</h3>
      <div class="panel panel-default" ng-repeat="item in allItems">
        <div class="panel-heading">
          <h3 class="panel-title"><b>{{item.title}}</b></h3>
        </div>
        <div class="panel-body">
          <h4>By {{item.author}} - <small>{{item.timestamp}}</small></h4>
          {{item.body}}
        </div>
      </div>
    </div>
  </div>
</div>
