<style>
#map {
    height: 600px;
    width: 100%;
}
</style>
<div class="container" ng-init="callService()">
  <div class="col-sm-12 col-md-12">
    <ul class="nav nav-tabs" id="tabs">
      <li class="active"><a data-toggle="tab" href="#mapview">Map View</a></li>
      <li><a data-toggle="tab" href="#listview">List View</a></li>
    </ul>

    <div class="tab-content">
      <div id="mapview" class="tab-pane fade in active">
        <div id="map"></div>
      </div>
      <div id="listview" class="tab-pane fade">
        <div class="col-sm-6 col-md-6">
          <form>
              <h4>Enter your address or zipcode and select a distance to list chapters near you:</h4>
              <input type="text"  id="addressinput" ng-change="addressChange()" class="form-control" ng-model="formAddress" placeholder="Address or Zip code" style="width:30%; min-width:100px; display:inline-block;" required>
              <select ng-model="formDistance" class="form-control" ng-init="formDistance=10" style="width:20%; min-width:110px; display:inline-block;">
                  <option value="10" ng-selected="true">10 miles</option>
                  <option value="25">25 miles</option>
                  <option value="50">50 miles</option>
                  <option value="100">100 miles</option>
                  <option value="200">200 miles</option>
                  <option value="500">500 miles</option>
              </select>
              <button class="btn btn-primary" ng-click="submitForms()">Submit</button>
          </form>
          <br>
            <div ng-repeat="chapter in chaptersCtrl.filteredChapters" class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">{{chapter.name}}</h3>
              </div>
              <div class="panel-body">
                <p>{{chapter.city}}, {{chapter.state}}</p>
                <p>{{chapter.description}}</p>
                <p><a href={{chapter.url}}>Chapter Website</a></p>
                <p>Email: {{chapter.email}}</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
