<div class="container">
	<div class="about_how"> 
		<h2>About HOW</h2>
		<iframe width="400" height="300" align="right" src="https://www.youtube.com/embed/RcZuQXn4KSY" frameborder="0" allowfullscreen></iframe>
		<p>
			Heroes on the Water helps our Nation's warriors and veterans from all branches of the United States military unwind using the therapeutic qualities of fishing from kayaks. What looks like a day trip of paddling and fishing is in fact something much deeper and long-lasting.
		</p>

		<p>
			Founded in 2007, our unique kayak fishing program allows the participants a <strong>chance to decompress from the stresses </strong> associated with combat and the physical rigors of rehabilitation. Warriors enjoy these benefits while on guided fishing trips held in local communities around the country.
		</p>

		<p>
			Participants receive basic kayak fishing and paddling instruction, angling clinics and paddling classes for participants with skill sets ranging from beginners to the most experienced paddlers.
		</p>

		<p>
			The program also assists these personnel in adapting these newly developed skills to their new abilities. Adaptive kayaks, kayaking accessories and angling equipment is offered on an as needed basis to accommodate a soldier's particular needs.
		</p>

		<p>
			Our program is unique in that it is <strong>a long-term activity</strong>, not a one-time event. We believe that the effectiveness of the program is a direct result of engaging the wounded military personnel for the long-term.
		</p>

		<p>
			One soldier, at the Center for the Intrepid, <strong>called what we do "Triple Therapy" or "all at once therapy." </strong> On post he has to go to the gym for physical therapy, then go upstairs for his occupational therapy, and then go to the psychologist for mental therapy. <strong>With kayak fishing he gets it all at once </strong> - physical therapy from paddling and fishing, occupational therapy, learning a lifetime sport/activity, and mental therapy from relaxing in nature with no distractions or expectations of performance.
		</p>
	</div>

	<br>

	<div class="partners">
		<h2>Partnerships</h2>
		<img width="250px" height="170px" align="right" src="\images\partners\TMTfinal.jpg"/>
		<p> <a href="http://txmusicthrowdown.com/"> The Texas Music Throwdown </a> (TMT) benefit concert is held to honor our wounded military veterans where we donate 100% of the proceeds to our wounded veterans at Heroes on the Water (HOW) . TMT is a family friendly event where we host the very best Texas Country/Red Dirt talent to include Reckless Kelly, Whiskey Myers, Cory Morrow, Scooter Brown Band, Josh Ward, Cody Johnson, Brandon Rhyder and more. Our team is on it’s 5th consecutive year of fundraising for Heroes on the Water and have donated $100,000 back to our wounded military veterans at HOW. We are proud to be associated with Heroes on the Water and look forward to continuing our partnership. To learn more about the Texas Music Throwdown please visit us at <a href="http://txmusicthrowdown.com/"> www.TexasMusicThrowdown.com </a>
		</p>

		<br><br>

		<img width="250px" height="240px" align="left" src="\images\partners\NuStarlogo.jpg"/>
		<p>
		<a href="https://castingforacause.org/"> Casting for a Cause </a> is a non-profit fishing tournament organized by employees of <a href="http://nustarenergy.com/en-us/Pages/default.aspx">NuStar Energy</a> and run through the NuStar Energy Foundation.  EIN  26-0629473.  Thanks to the generous support of our sponsors and participants, the Casting for a Cause Fishing Tournament has become one of the premier fishing tournaments in the Texas Coastal Bend. Proceeds from Casting for a Cause benefit <a href="http://www.havenforhope.org/new/" Haven for Hope</a>, <a href="http://heroesonthewater.org/">Heroes on the Water (HOW)</a> and the <a href="http://www.nationalmssociety.org/">National Multiple Sclerosis Society</a> as well as other local charities. The 2015 tournament will be held on Friday, June 19 2015 at Robert’s Point Park in Port Aransas

		<br>

		<h4>About NuStar Energy</h4>
		Since it went public in 2001, NuStar Energy L.P. has grown from 160 employees to about 1,600 today; from $387 million in assets to $5 billion; and from $100 million in revenues to $3.5 billion in 2013. As a result of its growth, NuStar currently has 8,643 miles of pipeline and 82 terminal and storage facilities that store and distribute crude oil, refined products and specialty liquids. Known for its special caring and sharing culture, NuStar has been ranked as one of FORTUNE’s “100 Best Companies to Work For” for five consecutive years, recognized with many national safety awards, and lauded for its tremendous commitment to community service. NuStar Energy GP LLC is an Equal Opportunity/Affirmative Action Employer including Women, Minorities, Veterans and Individuals with Disabilities.
		</p>

		<br>

		<p>
			<img align="right" width="270px" height="120px" src="\images\partners\brainhealth.png"/>
			<p>
				<a href="http://www.brainhealth.utdallas.edu/">The Center for BrainHealth</a> is dedicated to improving the lives of America’s brave fighting men and women. This commitment includes preparing our service members to be the absolute best they can be – before, during, and after deployment. It takes years to make civilians battle-ready, and BrainHealth research is designed to minimize the time it takes to successfully reintegrate veterans into civilian life.
			</p>	

			<p>
				Specific service member-related research initiatives underway at the Center for BrainHealth include: Traumatic Brain Injury (TBI); Post-Traumatic Stress Disorder (PTSD).
				The Center seeks returning service members to participate in a study of Post-Traumatic Stress Disorder (PTSD). <a href="http://www.brainhealth.utdallas.edu/research/participate/post-traumatic-stress-disorder-in-returning-service-members">Click Here</a> to learn more.
			</p>
		</p>

		<p>
			<img align="left" width="250px" height="100px"src="\images\partners\guardhealth.jpg"/><br>
			<a href="http://www.guardyourhealth.com/supporters/heroes-water/">Guard Your Health</a> is a central place online for Army National Guard Soldiers and family members to find information and resources on health and medical readiness. Website visitors can access health tips, expert commentary, and community forums on topics such as nutrition, exercise, stress, sleep, dental health, readiness, and family resilience
		</p>

		<br>

		<p>
			<center><img width="350px" height="130px" align="middle" src="\images\partners\ctl_logo.png"/></center>
			<p>
				<a href="http://www.carrytheload.org/site/PageServer?pagename=home">Carry the Load</a> is a non-profit organization helping people celebrate a meaningful Memorial Day by partnering with communities to hold local events and hosting a cross-country relay to honor veterans and active duty service members, law enforcement officers, firefighters and their families.
			</p>

			<p>
				Since the initial event in 2011, Heroes on the Water has been one of the beneficiaries of the funds raised through event participation and sponsorship. Carry the Load has been a tremendous supporter and as a result many wounded warrior’s have experienced calm in the storm and have hope for the future.
			</p>

			<p>
				HOW is participating in the CARRY THE LOAD National Relay from West Point to Dallas in 2014. Join the HOW National Team along various legs of the route.
			</p>

			<p>
				Consider how you and your community can make Memorial Day more meaningful this year. Visit <a href="http://heroesonthewater.org/support-carry-the-load-and-heroes-on-the-water/">http://heroesonthewater.org/support-carry-the-load-and-heroes-on-the-water/</a> to learn more about how you can participate
			</p>
		</p>
	</div>



	<!--<form>
	Required: <br>
		<div class="names">
			First Name*: <br>
			<input type="text" name="firstname" placeholder="Name" required/> <br>
		</div>

		<div class="names"> 
			Last Name*:  <br>
			<input type="text" name="lastname" placeholder="Last Name" required/> <br>
		</div>

		<br><br><br>

		<div class="info">
	 		HEROES ON THE WATER <br>
	 		<strong>Address: <br> </strong>
	 		101-C N. Greenville Ave. #55 <br>
	 		Allen, TX 75002 <br>
	 		<br/>
	 		<strong>For More Information:</strong> <br>
	 		Phone: 214-295-4541 <br>
	 		Email: <a href="mailto:info@heroesonthewater.org"> info@heroesonthewater.org </a> <br>
		</div>

		<div class="email">
				Email*: <br>
			<input type="email" name="email" placeholder="name@how.com"  required/><br>
		</div>

		<div class="email">
			Confirm Email*: <br>
			<input type="email" name="conf_email" placeholder="name@how.com" required/><br>
		</div>

		<br><br><br>

		<div id="inquiry"> 
			Type of Inquiry*:
			<select>
				<option> (Select your option) </option>
				<option> I want to donate items. </option>
				<option> I would like more information on voluteering. </option>
				<option> Information on starting a chapter. </option>
				<option> General question </option>
			</select>
		</div>

		<br><br><br>

		<div class="required">
			Tell Us Why You Are Contacting Us*: <br>
			<textarea id="reason_box" name="reasons" cols="35" rows="7" placeholder="Give a brief explanation here."></textarea>
		</div>

		<br><br><br><br><br>

		Optional: <br>
		<div class="optional">
				Street Address: <br>
				<input type:"text" name="street_add" placeholder="100 Main St."/><br>
		</div>

		<div class="optional">
			Address Line 2: <br>
			<input type:"text" name="add_2" placeholder="Apt. 30"/><br>
		</div>

		<div class="optional">
			Zip Code: <br>
			<input type:"text" name="zip" placeholder="98195"/><br>
		</div>

		<br><br><br>

		<div class="optional">
			City: <br>
			<input type:"text" name="city" placeholder="Seattle"/><br>
		</div>

		<div class="optional">
			State: <br>
			<input type:"text" name="state" placeholder="Washington"/><br>
		</div>

		<div class="optional">
			Country: <br>
			<input type:"text" name="country" placeholder="United States"/><br>
		</div>

		<br><br><br>
		<div class="phone" >
			Phone Number: <br>
			<input id="phone" type:"number" name="phone" maxlength="10" placeholder="555-555-5555"/><br>
		</div>
	</form>-->
</div>