<div class="container">
	<ul class="nav nav-pills">
		<li class="active"><a data-toggle="tab" href=""  ng-click='about = true; partnerships = false; board = false; finance = false;'>About HOW</a></li>
		<li role="presentation"><a data-toggle="tab" href="" ng-click='about = false; partnerships = true; board = false; finance = false;'>Partnerships</a></li>
		<li role="presentation"><a data-toggle="tab" href="" ng-click='about = false; partnerships = false; board = true; finance = false;'>Board and Staff</a></li>
		<li role="presentation"><a data-toggle="tab" href="" ng-click='about = false; partnerships = false; board = false; finance = true;'>Financials and Contact Us</a></li>

	</ul>
	<hr>

	<!-- General information about HOW along with a video. -->
	<div class="about_how animated fadeIn" ng-show="about" ng-hide="partnerships || board || finance">
		<h1 id="about">About HOW</h1>
		<iframe width="400" height="300" align="right" src="https://www.youtube.com/embed/RcZuQXn4KSY" frameborder="" allowfullscreen></iframe>
		<p>
			Heroes on the Water helps our Nation's warriors and veterans from all branches of the United States military unwind using the therapeutic qualities of fishing from kayaks. What looks like a day trip of paddling and fishing is in fact something much deeper and long-lasting.
		</p>

		<p>
			Founded in 2007, our unique kayak fishing program allows the participants a <strong>chance to decompress from the stresses </strong> associated with combat and the physical rigors of rehabilitation. Warriors enjoy these benefits while on guided fishing trips held in local communities around the country.
		</p>

		<p>
			Participants receive basic kayak fishing and paddling instruction, angling clinics and paddling classes for participants with skill sets ranging from beginners to the most experienced paddlers.
		</p>

		<p>
			The program also assists these personnel in adapting these newly developed skills to their new abilities. Adaptive kayaks, kayaking accessories and angling equipment is offered on an as needed basis to accommodate a soldier's particular needs.
		</p>

		<p>
			Our program is unique in that it is <strong>a long-term activity</strong>, not a one-time event. We believe that the effectiveness of the program is a direct result of engaging the wounded military personnel for the long-term.
		</p>

		<p>
			One soldier, at the Center for the Intrepid, <strong>called what we do "Triple Therapy" or "all at once therapy." </strong> On post he has to go to the gym for physical therapy, then go upstairs for his occupational therapy, and then go to the psychologist for mental therapy. <strong>With kayak fishing he gets it all at once </strong> - physical therapy from paddling and fishing, occupational therapy, learning a lifetime sport/activity, and mental therapy from relaxing in nature with no distractions or expectations of performance.
		</p>
	</div>
	<!-- List some of the partners with an image of their logo and a short description. -->
	<div class="partners animated fadeIn" ng-show="partnerships">
		<h1 id="partnerships">Partnerships</h1>
		<img width="270px" height="140px" align="right" src="\images\partners\TMTfinal.jpg"/>
		<p> <a href="http://txmusicthrowdown.com/"> The Texas Music Throwdown </a> (TMT) benefit concert is held to honor our wounded military veterans where we donate 100% of the proceeds to our wounded veterans at Heroes on the Water (HOW) . TMT is a family friendly event where we host the very best Texas Country/Red Dirt talent to include Reckless Kelly, Whiskey Myers, Cory Morrow, Scooter Brown Band, Josh Ward, Cody Johnson, Brandon Rhyder and more. Our team is on it’s 5th consecutive year of fundraising for Heroes on the Water and have donated $100,000 back to our wounded military veterans at HOW. We are proud to be associated with Heroes on the Water and look forward to continuing our partnership. To learn more about the Texas Music Throwdown please visit us at <a href="http://txmusicthrowdown.com/"> www.TexasMusicThrowdown.com </a>
		</p>

		<br><br>

		<img width="260px" height="240px" align="left" src="\images\partners\NuStarlogo.jpg"/ >
		<p>
		<a href="https://castingforacause.org/"> Casting for a Cause </a> is a non-profit fishing tournament organized by employees of <a href="http://nustarenergy.com/en-us/Pages/default.aspx">NuStar Energy</a> and run through the NuStar Energy Foundation.  EIN  26-0629473.  Thanks to the generous support of our sponsors and participants, the Casting for a Cause Fishing Tournament has become one of the premier fishing tournaments in the Texas Coastal Bend. Proceeds from Casting for a Cause benefit <a href="http://www.havenforhope.org/new/" Haven for Hope</a>, <a href="http://heroesonthewater.org/">Heroes on the Water (HOW)</a> and the <a href="http://www.nationalmssociety.org/">National Multiple Sclerosis Society</a> as well as other local charities. The 2015 tournament will be held on Friday, June 19 2015 at Robert’s Point Park in Port Aransas

		<br>

		<h4>About NuStar Energy</h4>
		Since it went public in 2001, NuStar Energy L.P. has grown from 160 employees to about 1,600 today; from $387 million in assets to $5 billion; and from $100 million in revenues to $3.5 billion in 2013. As a result of its growth, NuStar currently has 8,643 miles of pipeline and 82 terminal and storage facilities that store and distribute crude oil, refined products and specialty liquids. Known for its special caring and sharing culture, NuStar has been ranked as one of FORTUNE’s “100 Best Companies to Work For” for five consecutive years, recognized with many national safety awards, and lauded for its tremendous commitment to community service. NuStar Energy GP LLC is an Equal Opportunity/Affirmative Action Employer including Women, Minorities, Veterans and Individuals with Disabilities.
		</p>

		<br>

		<p>
			<img align="right" width="320px" height="120px" HSPACE=2 src="\images\partners\brainhealth.png"/>
			<p>
				<a href="http://www.brainhealth.utdallas.edu/">The Center for BrainHealth</a> is dedicated to improving the lives of America’s brave fighting men and women. This commitment includes preparing our service members to be the absolute best they can be – before, during, and after deployment. It takes years to make civilians battle-ready, and BrainHealth research is designed to minimize the time it takes to successfully reintegrate veterans into civilian life.
			</p>

			<p>
				Specific service member-related research initiatives underway at the Center for BrainHealth include: Traumatic Brain Injury (TBI); Post-Traumatic Stress Disorder (PTSD).
				The Center seeks returning service members to participate in a study of Post-Traumatic Stress Disorder (PTSD). <a href="http://www.brainhealth.utdallas.edu/research/participate/post-traumatic-stress-disorder-in-returning-service-members">Click Here</a> to learn more.
			</p>
		</p>

		<p>
			<img align="left" width="270px" height="100px"src="\images\partners\guardhealth.jpg"/><br>
			<a href="http://www.guardyourhealth.com/supporters/heroes-water/">Guard Your Health</a> is a central place online for Army National Guard Soldiers and family members to find information and resources on health and medical readiness. Website visitors can access health tips, expert commentary, and community forums on topics such as nutrition, exercise, stress, sleep, dental health, readiness, and family resilience
		</p>

		<br>

		<p>
			<center><img width="350px" height="130px" align="middle" src="\images\partners\ctl_logo.png"/></center>
			<p>
				<a href="http://www.carrytheload.org/site/PageServer?pagename=home">Carry the Load</a> is a non-profit organization helping people celebrate a meaningful Memorial Day by partnering with communities to hold local events and hosting a cross-country relay to honor veterans and active duty service members, law enforcement officers, firefighters and their families.
			</p>

			<p>
				Since the initial event in 2011, Heroes on the Water has been one of the beneficiaries of the funds raised through event participation and sponsorship. Carry the Load has been a tremendous supporter and as a result many wounded warrior’s have experienced calm in the storm and have hope for the future.
			</p>

			<p>
				HOW is participating in the CARRY THE LOAD National Relay from West Point to Dallas in 2014. Join the HOW National Team along various legs of the route.
			</p>

			<p>
				Consider how you and your community can make Memorial Day more meaningful this year. Visit <a href="http://heroesonthewater.org/support-carry-the-load-and-heroes-on-the-water/">http://heroesonthewater.org/support-carry-the-load-and-heroes-on-the-water/</a> to learn more about how you can participate
			</p>
		</p>
	</div>

	<!-- Section displaying board and staff with pictures and a description. -->
	<div class="board animated fadeIn" ng-show="board">
		<h1 id="board_staff">Board & Staff</h1>
		<br>
		<div class="row">
		<p>
			<img align="left" width="220px" height="220px" HSPACE=10 src="\images\board\Jim_Dolan.jpg"/>
			<h4>Jim Dolan - Founder and President of HOW</h4>
			Jim Dolan is Founder and President of Heroes on the Water. Following graduation from the United States Air Force Academy in 1976, he served in the USAF for 13 years as a pilot flying mainly C-130s with 8 years overseas in the Philippines and Germany. He earned a Master’s Degree in Computer Information Systems (MCIS) from Boston University in 1984. Jim is a retired Captain with American Airlines. He is a born and raise Texas Bass Fisherman, including 7 years as an avid kayak fisherman.
		</p>
	</div>

		<div class="row">
		<p>
			<img align="left" width="220px" height="220px" HSPACE=10 src="\images\board\Dave_Winston.jpg"/>
			<h4>Dave Winston - Vice Chairman</h4>
			Dave Winston grew up at the Jersey shore and has been an avid sportsman his entire life. After earning his bachelor’s degree in accounting from Villanova University, Dave spent the next 20 years as a Marine helicopter pilot. Dave has over two years at sea and has been through the Suez Canal eight times. After the Corps, Dave was co-owner of a medical distribution company that provides an outsourced solution for cardiac surgery. Between 2001 and 2005, Dave was a founding partner in a boutique recruiting firm in Boston. Based in Dallas, Dave is now a Managing Partner, Industrial Practice with Caldwell Partners, a premier leadership advisory firm. In his spare time Dave hunts, fishes, and referees youth soccer. Dave enjoys helping veterans transition from the military and sees HOW as a great way to further serve our growing veteran population.
		</p>
	</div>

	<div class="row">
		<p>
			<img align="left" width="220px" height="220px" HSPACE=10 src="\images\board\Keith_Tibbits.jpg"/>
			<h4>Keith Tibbits - Secretary, Board of Directors</h4>
			Keith Tibbits received his Bachelor of Science degree at United States Naval Academy at Annapolis and a Master of Science in Organizational Development from the Naval Postgraduate School.  He served as an attack helicopter pilot in the United States Marine Corps where he participated in joint military peace-keeping and combat operations throughout the world to include the Persian Gulf and Somalia. Keith taught Leadership and Ethics at Annapolis and served as the defensive line coach for the Navy Football Team. He has also represented the United States internationally as a member of USA’s Rugby Football Team. Keith was raised in the great state of Michigan and began fly fishing and fly tying before he was 10.  A life-long outdoors enthusiast in all regards, Keith views HOW as an exceptional way to connect the human spirit with the great outdoors.
		</p>
	</div>

		<div class="row">
		<p>
			<img align="left" width="200px" height="220px" HSPACE=10 src="\images\board\Brian_Farlow.jpg"/>
			<h4>Brian Farlow - Director</h4>
			Brian Farlow is a civil trial lawyer in Dallas, Texas. His broad civil litigation experience includes products liability class actions, numerous Fair Credit Reporting Act claims, and business breach of contract claims in a wide variety of industries, including insurance and oil and gas. He has also worked extensively with expert witnesses on a variety of issues regarding damages, damage models, statistics and both informational and relational databases.  Brian is also a Major in the U.S. Army Reserves. He recently served in Afghanistan, following a year of service in support of Operation Enduring Freedom. Brian earned a J.D. from Albany Law School of Union University, cum laude and a B.S. from the United States Military Academy at West Point.
		</p>
	</div>

	<div class="row">
		<p>
			<img align="left" width="220px" height="220px" HSPACE=10 src="\images\board\Cary_Clayborn.jpg"/ class="staffimage">
			<h4>Cary Clayborn - Director</h4>
			Cary Clayborn is a Vice President/Client Consultant for Manning & Napier, a money management firm, covering Texas and the Southwest.  Cary is also a partner and former CEO for ABT Global, a conglomerate of medical sales companies focused on the most advanced technologies in surgery. Prior to these roles, he served almost 10 years as a Principal with Bernstein Global Wealth Management and another 10 years in medical sales with Johnson & Johnson in cardiology management and in training minimally invasive heart surgery. A West Point graduate with a degree in Biology/Chemistry, he obtained his Business Masters from Troy University. His philanthropic involvement is extensive, serving on multiple other non-profit boards including The Center for Brain Health, Texas Business Hall of Fame, Dallas All Sports Association, and the Foundation for Responsible Television.  He also served as the Philanthropic Consultant to Philanthropy World magazine for over ten years.
		</p>
	</div>
	</div>

	<div ng-show="finance" class="animated fadeIn">
		<div class="row">
			<div class="col-sm-6">
				<h3 id="finance">Financials</h3>
				<a href="\images\audit\HOW_AUdit_2014.pdf" style="font-size: 1.9em">2014 Financial Audit</a><br>
			</div>
			<div class="col-sm-6">
				<h3 id="contact_us">Contact Us</h3>
				<form>
				<font size="4">
				<strong>HEROES ON THE WATER</strong><br>
			 		<strong>Address: <br> </strong>
			 		101-C N. Greenville Ave. #55 <br>
			 		Allen, TX 75002 <br>
			 		<br/>
			 		<strong>For More Information:</strong> <br>
			 		Phone: 214-295-4541 <br>
			 		Email: <a href="mailto:info@heroesonthewater.org"> info@heroesonthewater.org </a>
			 	</font>
			</form>
		 	</div>
		</div> <!--row-->
	</div>
</div>
