<div class="container">
	<div class="row">
    <div ng-show="error" class="alert alert-danger animated fadeIn">{{errorMessage}}</div>
  </div>
	<center><h1 ng-show="success">Donors to Heroes on the Water</h1></center>
	<ul ng-show="success" ng-repeat="donor in allDonors" style="list-style: none">
		<ul>
			<li><h3>Donation by: {{donor.firstname}} {{donor.lastname}}</h3></li>
			<ul>
				<li><h4><b>Donation amount: {{donor.donation | currency:"USD$"}}</b></h4></li>
				<li><p><b>Email:</b> {{donor.email}}</p></li>
				<li><p><b>Phone Number:</b> {{donor.phone}}</p></li>
				<li><p><b>Address:</b> {{donor.address}} {{donor.city}} {{donor.zip}}, {{donor.state}} {{donor.country}}</p></li>
				<li><p><b>Comment:</b> {{donor.comment}}</p></li>
			</ul>
		</ul>
		<!-- <div>
			<h3>Donation by: {{donor.firstname}} {{donor.lastname}}</h3>
			<h4><b>Donation amount: {{donor.donation | currency:"USD$"}}</b></h4>
			<p><b>Email:</b> {{donor.email}}</p>
			<p><b>Phone Number:</b> {{donor.phone}}</p>
			<p><b>Address:</b> {{donor.address}} {{donor.city}} {{donor.zip}}, {{donor.state}} {{donor.country}}</p>
			<p><b>Comment:</b> {{donor.comment}}</p>
		</div> -->
		<hr/>
	</ul>
</div>
