<div class="container">
    <div class="row">
        <div class="alert alert-success alert-dismissible animated fadeIn" role="alert" ng-show="changebanner" style="text-align:center">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Success!</strong> Event successfully changed.
        </div>
        <div class="alert alert-success alert-dismissible animated fadeIn" role="alert" ng-show="participantbanner" style="text-align:center">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Success!</strong> Participant successfully added.
        </div>
        <div class="alert alert-success alert-dismissible animated fadeIn" role="alert" ng-show="volunteerbanner" style="text-align:center">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Success!</strong> Volunteer successfully added.
        </div>
        <div class="alert alert-success alert-dismissible animated fadeIn" role="alert" ng-show="removedbanner" style="text-align:center">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Success!</strong> Event successfully deleted. Returning to events page...
        </div>
    </div>
    <div class="row animated fadeIn">
        <div class="col-sm-8 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{eventDetailsCtrl.event.name}} <a href="" ng-show="isAdmin"><span class="glyphicon glyphicon-remove-sign" ng-click="eventDetailsCtrl.removeEvent(eventDetailsCtrl.id)" aria-hidden="true"></span></a></h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-tabs" id="tabbies">
                        <li class="active"><a data-toggle="tab" href="#details">Details</a></li>
                        <li><a data-toggle="tab" href="#participants">Participants</a></li>
                        <li><a data-toggle="tab" href="#volunteers">Volunteers</a></li>
                        <li><a data-toggle="tab" href="#broadcast" ng-show="isAdmin">Broadcast</a></li>
                    </ul>
                    <!--content for each tab -->
                    <div class="tab-content">
                        <div id="details" class="tab-pane fade in active">
                            <br>
                            <div class="col-sm-6 col-md-6">
                                <div><b>Name:</b> <a href="" id="eventName" editable-text="eventDetails.name" ng-show="isAdmin">{{eventDetails.name}}</a><span ng-show="!isAdmin">{{eventDetails.name}}</span></div>
                                <div><b>Date:</b>
                                    <input style="width: 20%; min-width: 140px;" class="form-control" type="text" value="{{eventDetails.date}}" id="datepicker" ng-show="isAdmin"><span ng-show="!isAdmin">{{eventDetails.date}}</span></div>
                                <div><b>Start Time:<small ng-show="isAdmin">Format: 8:00 AM</small> </b><a href="" id="eventStarttime" editable-text="eventDetails.starttime" ng-show="isAdmin">{{eventDetails.starttime}}</a><span ng-show="!isAdmin">{{eventDetails.starttime}}</span></div>
                                <div><b>End Time:<small ng-show="isAdmin">Format: 8:00 PM</small> </b><a href="" id="eventEndtime" editable-text="eventDetails.endtime" ng-show="isAdmin">{{eventDetails.endtime}}</a><span ng-show="!isAdmin">{{eventDetails.endtime}}</span></div>
                                <div><b>Max Participants: </b><a href="" id="eventMaxParticipants" editable-text="eventDetails.maxParticipants" ng-show="isAdmin">{{eventDetails.maxParticipants}}</a><span ng-show="!isAdmin">{{eventDetails.maxParticipants}}</span></div>
                                <div><b>Max Volunteers: </b><a href="" id="eventMaxVolunteers" editable-text="eventDetails.maxVolunteers" ng-show="isAdmin">{{eventDetails.maxVolunteers}}</a><span ng-show="!isAdmin">{{eventDetails.maxVolunteers}}</span></div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div><b>Location:</b> <a href="" id="eventLocation" editable-text="eventDetails.location" ng-show="isAdmin">{{eventDetails.location}}</a><span ng-show="!isAdmin">{{eventDetails.location}}</span></div>
                                <div><b>Description: </b><a href="" id="eventDescription" editable-text="eventDetails.description" ng-show="isAdmin">{{eventDetails.description}}</a><span ng-show="!isAdmin">{{eventDetails.description}}</span></div>
                            </div>
                        </div>
                        <div id="participants" class="tab-pane fade">
                            <table class="table table-hover table-striped">
                                <tr>
                                    <th>Username</th>
                                    <th>Name</th>
                                    <th>Disabilities</th>
                                    <th>Contact Email</th>
                                </tr>
                                <tr ng-repeat="events in eventDetails.participants">
                                    <td>{{events.username}}</td>
                                    <td>{{events.firstname}} {{events.lastname}}</td>
                                    <td>{{events.disabilities}}</td>
                                    <td>{{events.email}}</td>
                                </tr>
                            </table>
                            <!-- <div><a href="" id="eventParticipants" editable-text="eventDetails.participants" ng-show="isAdmin">{{eventDetails.participants}}</a><span ng-show="!isAdmin">{{eventDetails.participants}}</span></div> -->
                            <br>
                            <button class="btn-lg btn-success btn-block" ng-show="isAdmin" data-toggle="modal" data-target="#participantModal">Add participant</button>
                        </div>
                        <div id="volunteers" class="tab-pane fade">
                            <table class="table table-hover table-striped">
                                <tr>
                                    <th>Username</th>
                                    <th>Name</th>
                                    <th>Disabilities</th>
                                    <th>Contact Email</th>
                                </tr>
                                <tr ng-repeat="events in eventDetails.volunteers">
                                    <td>{{events.username}}</td>
                                    <td>{{events.firstname}} {{events.lastname}}</td>
                                    <td>{{events.disabilities}}</td>
                                    <td>{{events.email}}</td>
                                </tr>
                            </table>
                            <!-- <div><a href="" id="eventVolunteers" editable-text="eventDetails.volunteers" ng-show="isAdmin">{{eventDetails.volunteers}}</a><span ng-show="!isAdmin">{{eventDetails.volunteers}}</span></div> -->
                            <br>
                            <button class="btn-lg btn-success btn-block" ng-show="isAdmin" data-toggle="modal" data-target="#volunteerModal">Add participant</button>
                        </div>
                        <div id="broadcast" class="tab-pane fade" ng-show="isAdmin">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="subject" name="subject" placeholder="Subject" style="margin-bottom:10px;" />
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" ng-model="body" name="message" placeholder="Type in your message" rows="5" style="margin-bottom:10px;"></textarea>
                            </div>
                            Recipients:
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="sendParticipants">Participants</label>
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="sendVolunteers">Volunteers</label>
                            <br>
                            <br>
                            <button class="btn-lg btn-success btn-block" ng-click="sendBroadcast()" ng-show="isAdmin">Send broadcast</button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn-lg btn-info btn-block" ng-show="!isAdmin" data-toggle="modal" data-target="#myModal">SIGN UP FOR THIS EVENT</button>
            <!--This button needs to hidden and disabled unless they are admin-->
            <button type="button" ng-click="eventDetailsCtrl.updateEvent()" ng-show="isAdmin" class="btn btn-primary">Submit Changes</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-md-8 col-md-offset-2">
            <!-- Button trigger modal -->
            <!-- Modal -->
            <!--Tomorrow, woork on getting if the user is logged in, auto fill out the information.
          CSS for inventory and chapters page-->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="signupLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="signupLabel">{{eventDetails.name}}</h4>
                        </div>
                        <div class="modal-body">
                            <form ng-submit="signup()">
                                <div class="form-group">
                                    <label for="inputFirstname">First Name</label>
                                    <input type="text" class="form-control" id="inputFirstname" value="{{user.firstname}}" placeholder="First Name" ng-model="newPerson.firstname">
                                </div>
                                <div class="form-group">
                                    <label for="inputLastname">Last Name</label>
                                    <input type="text" class="form-control" id="inputLastname" placeholder="Last Name" ng-model="newPerson.lastname">
                                </div>
                                <div class="form-group">
                                    <label for="inputDisplayname">Display Name <small>Account or awesome nickname!</small></label>
                                    <input type="text" class="form-control" id="inputDisplayname" placeholder="ex. NeonAnimal" ng-model="newPerson.username">
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail">Contact Email</label>
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="newPerson.email">
                                </div>
                                <div class="form-group">
                                    <label for="inputDisabilities">Disabilities <small>Please list any disabilities you may have</small></label>
                                    <input type="text" class="form-control" id="inputEmail" placeholder="Disabilities" ng-model="newPerson.disabilities">
                                </div>
                                <div class="form-group">
                                    <label class="radio-inline">
                                        <input type="radio" value="participant" ng-model="signupType">Participant</label>
                                    <label class="radio-inline">
                                        <input type="radio" value="volunteer" ng-model="signupType">Volunteer</label>
                                </div>
                                <button type="submit" class="btn btn-primary">Sign up for Event</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal for inserting participants -->
            <div class="modal fade" id="participantModal" tabindex="-1" role="dialog" aria-labelledby="psignupLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="psignupLabel">{{eventDetails.name}}</h4>
                        </div>
                        <div class="modal-body">
                            <form ng-submit="addParticipant()">
                                <div class="form-group">
                                    <label for="pinputFirstame">First Name</label>
                                    <input type="text" class="form-control" id="pinputFirstname" placeholder="First Name" ng-model="newParticipant.firstname">
                                </div>
                                <div class="form-group">
                                    <label for="pinputLastname">Last Name</label>
                                    <input type="text" class="form-control" id="pinputLastname" placeholder="Last Name" ng-model="newParticipant.lastname">
                                </div>
                                <div class="form-group">
                                    <label for="pinputDisplayname">Display Name <small>Account or awesome nickname!</small></label>
                                    <input type="text" class="form-control" id="pinputDisplayname" placeholder="ex. NeonAnimal" ng-model="newParticipant.username">
                                </div>
                                <div class="form-group">
                                    <label for="pinputEmail">Contact Email</label>
                                    <input type="email" class="form-control" id="pinputEmail" placeholder="Email" ng-model="newParticipant.email">
                                </div>
                                <div class="form-group">
                                    <label for="pinputDisabilities">Disabilities <small>Please list any disabilities you may have</small></label>
                                    <input type="text" class="form-control" id="pinputEmail" placeholder="Disabilities" ng-model="newParticipant.disabilities">
                                </div>
                                <button type="submit" class="btn btn-primary">Add participant</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal for inserting volunteers -->
            <div class="modal fade" id="volunteerModal" tabindex="-1" role="dialog" aria-labelledby="vsignupLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="vsignupLabel">{{eventDetails.name}}</h4>
                        </div>
                        <div class="modal-body">
                            <form ng-submit="addVolunteer()">
                                <div class="form-group">
                                    <label for="vinputFirstame">First Name</label>
                                    <input type="text" class="form-control" id="vinputFirstname" placeholder="First Name" ng-model="newVolunteer.firstname">
                                </div>
                                <div class="form-group">
                                    <label for="vinputLastname">Last Name</label>
                                    <input type="text" class="form-control" id="vinputLastname" placeholder="Last Name" ng-model="newVolunteer.lastname">
                                </div>
                                <div class="form-group">
                                    <label for="vinputDisplayname">Display Name <small>Account or awesome nickname!</small></label>
                                    <input type="text" class="form-control" id="vinputDisplayname" placeholder="ex. NeonAnimal" ng-model="newVolunteer.username">
                                </div>
                                <div class="form-group">
                                    <label for="vinputEmail">Contact Email</label>
                                    <input type="email" class="form-control" id="vinputEmail" placeholder="Email" ng-model="newVolunteer.email">
                                </div>
                                <div class="form-group">
                                    <label for="vinputDisabilities">Disabilities <small>Please list any disabilities you may have</small></label>
                                    <input type="text" class="form-control" id="vinputEmail" placeholder="Disabilities" ng-model="newVolunteer.disabilities">
                                </div>
                                <button type="submit" class="btn btn-primary">Add volunteer</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
