<div class="container">
  This page will be for the heroes. This can be static, and simply have displays of several of the people who are participating or have participated
  in the HOW program. This can be made with a gallery, or could be done similar to the one on the original site where information is shown along with
  a picture of the member.

  <h2>Meet Our Heroes</h2>
  <div class="heroes">
  	<p>
  		<img width="30%" height="30%" src="\images\heroes\Brandon_Waldon.jpg"/>	
  	</p>
  </div>
</div>
