<div class="container">
  This page will be for the heroes. This can be static, and simply have displays of several of the people who are participating or have participated
  in the HOW program. This can be made with a gallery, or could be done similar to the one on the original site where information is shown along with
  a picture of the member.

  <h2>Meet Our Heroes</h2>
  <div class="row">
  	<p class="col-sm-6">
  		<img float="left" width="50%" height="50%" HSPACE=10 src="\images\heroes\Brandon_Waldon.jpg"/>
  		<!--<h4>Brandon</h4>
  		“Heroes On the Water BAMC Program has helped me through every problem and anything I go through, on and off the water. I can turn to the people I fish with for help when I need it. Every week I have something to do, to look forward to….and it’s the stuff I love most! Going out and being on the water where I know that nobody can touch me, a safe zone, with Brothers who understand and have gone through the same stuff I have. HOWBAMC has given me something I thought I lost when I left my unit….Brothers!” 
  	</p>-->

  	<br><br><br><br>

  	<p class="col-sm-6">
  		<img float="left" width="50%" height="50%" HSPACE=10 src="\images\heroes\Josh_Dreddy.jpg"/>
  		<!--<h4>Josh</h4>
  		“I had never been in a kayak and didn’t know anything about them. After only two outings with HOW, I’ve found the camaraderie and knowledge is amazing and second to none. From the basics of how to get in the kayak to the advanced breathing and paddling techniques, everyone has something to share. Heroes on the Water gives Veterans a simple way to get back to nature, regardless of the injury. There’s no pressure to do anything but relax and enjoy nature. HOW gives us happy and positive events to look forward to and plan.”
  	</p>-->
  </div>
</div>
