<div class="container">
  <div class="row">
    <div ng-show="removeSuccess"  class="alert alert-danger animated fadeIn">{{removeMessage}}</div>
    <div ng-show="addSuccess" class="alert alert-success animated fadeIn">{{addMessage}}</div>
    <div ng-show="error" class="alert alert-danger animated fadeIn">{{errorMessage}}</div>
  </div>

  <div class="row">
    <div class="col-sm-10 col-md-10 col-md-offset-1" ng-show="success">
      <h3>Inventory: <span ng-bind="allItems.length"/> Items Total</h3>
      <div style="overflow: auto; max-height:400px;">
        <table class="table table-hover table-striped">
          <tr>
            <th>
              <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                Item Name
                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </th>
            <th>
              <a href="" ng-click="sortType = 'description'; sortReverse = !sortReverse">
                Item Description
                <span ng-show="sortType == 'description' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'description' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </th>
            <th>
              <a href="" ng-click="sortType = 'chapter'; sortReverse = !sortReverse">
                Chapter
                <span ng-show="sortType == 'chapter' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'chapter' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </th>
            <th style="text-align:center">Edit</th>
            <th style="text-align:center">Remove</th>
          </tr>
          <tr ng-repeat="item in allItems | orderBy: sortType:sortReverse">

            <td ng-hide="editMode[$index]">{{item.name}}</td>
            <td ng-show="editMode[$index]"><input type="text" class="form-control" ng-model="allItems[$index].name"> </td>

            <td ng-hide="editMode[$index]">{{item.description}}</td>
            <td ng-show="editMode[$index]"><input type="text" class="form-control" ng-model="allItems[$index].description"> </td>

            <td ng-hide="editMode[$index]">{{item.chapter}}</td>
            <td ng-show="editMode[$index]"><input type="text" class="form-control" ng-model="allItems[$index].chapter"> </td>

            <td ng-hide="editMode[$index]" style="text-align:center"><button ng-click="toggleEdit($index)" class="btn-xs btn-primary">Edit</button></td>
            <td ng-show="editMode[$index]" style="text-align:center"><button ng-click="toggleEdit($index)" class="btn-xs btn-primary">Save</button></td>

            <td style="text-align:center"><a href=""><span class="glyphicon glyphicon-remove-sign" ng-click="remove($index)" aria-hidden="true"></span></a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
      <!-- <ul>
        <li ng-repeat="x in allItems"><input type="checkbox" checked="{{x.isUsed}}"/>{{x.name}}, {{x.description}}, (id #: {{x._id}})<span ng-click="remove($index)">×</span></li>
      </ul> -->

  <div class="row">
    <div class="col-sm-10 col-md-10 col-md-offset-1">
      <form  ng-show="success" ng-submit="add()">
        <div class="form-group">
          <label>Item Name (*required)</label>
          <input type="text" class="form-control" ng-model="itemName" required>
        </div>
        <div class="form-group">
          <label>Item Description</label>
          <input type="text" class="form-control" ng-model="itemDescription">
        </div>
        <div class="form-group">
          <label>Chapter</label>
          <input type="text" class="form-control" ng-model="itemChapter">
        </div>
        <div>
            <button style="width: 100%;" type="submit" class="btn-lg btn-primary" ng-disabled="disabled">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
