To do:
<ul>
<li>Send mail to multiple people, comma/space in between usernames</li>
<li>Auto populate sender field from logged in user</li>
<li>More stuff</li>
</ul>

<form>
	<h4>Send test mail: </h4>
	<input type="text" ng-model="sender" placeholder="sender username">
	<input type="text" ng-model="recipient" placeholder="recipient username">
	<input type="text" ng-model="subject" placeholder="subject">
	<input type="text" ng-model="body" placeholder="body">
	<button ng-click="submitMail()">Submit</button>
</form>

	<h4>Current user's information:</h4>
        <b>Username: </b>{{userResult.username}}
        <br><b>First name: </b>{{userResult.firstname}}
        <br><b>Last name: </b>{{userResult.lastname}}
        <br><b>Email: </b>{{userResult.email}}
        <br><b>Disabilities: </b>{{userResult.disabilities}}
        <br><b>Account: </b>{{userResult.account}}
        <br><b>Mail IDs: </b>{{userResult.mail}}
        <br><br>
    <h4>User's mailbox: </h4>
    <div ng-repeat="message in mailResults">
        <br><b>ID: </b>{{message._id}}
        <br><b>Sender: </b>{{message.sender}}
        <br><b>Recipient: </b>{{message.recipient}}
        <br><b>Subject: </b>{{message.subject}}
        <br><b>Body: </b>{{message.body}}
        <br><b>Read?: </b>{{message.read}}
    </div>



