<form>
        <h4>Enter username to load their data from mongo:</h4>
        <input type="text" ng-model="userToLookup" placeholder="username">
        <button ng-click="submitLookup()">Submit</button>
</form>

        <br><b>Username: </b>{{userResult.username}}
        <br><b>First name: </b>{{userResult.firstname}}
        <br><b>Last name: </b>{{userResult.lastname}}
        <br><b>Email: </b>{{userResult.email}}
        <br><b>Disabilities: </b>{{userResult.disabilities}}
        <br><b>Account: </b>{{userResult.account}}
        <br><b>Mail: </b>{{userResult.mail}}

<form>
	<h4>Recipient Information: </h4>
	<input type="text" ng-model="sender" placeholder="sender">
	<input type="text" ng-model="recipient" placeholder="recipient">
	<input type="text" ng-model="subject" placeholder="subject">
	<input type="text" ng-model="body" placeholder="body">
	<button ng-click="submitMail()">Submit</button>
</form>

