<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div ng-show="error" class="alert alert-danger animated fadeIn">{{errorMessage}}</div>
      <div ng-show="success" class="alert alert-success animated fadeIn">{{successMessage}}</div>

      <form ng-submit="update()">
        <h2 style="text-align:center;">Welcome <span ng-bind="user.firstname"/> <span ng-bind="user.lastname"/>!</h2>
        <h4 style="text-align:left;">Username: <span ng-bind="user.username"/></h4>
        <h4 style="text-align:left;">Account: <span ng-bind="user.account"/></h4>
        <div class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control" name="firstname" ng-model="user.firstname" required>
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" name="lastname" ng-model="user.lastname" required>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" name="email" ng-model="user.email" required>
        </div>

        <div class="form-group">
          <label>Disabilities</label>
            <input list="disabilities" class="form-control" name="disabilities" ng-model="user.disabilities" required>
            <datalist id="disabilities">
              <option value="None">
              <option value="Blindness">
              <option value="Mobility restrictions">
              <option value="Dietary restrictions">
              <option value="Hearing restrictions">
              <option value="Other">
              <option value="I choose not to respond">
            </datalist>
        </div>

        <div>
            <button style="width: 48%; float: left" type="submit" class="btn btn-primary" ng-disabled="disabled">Update</button>
            <button style="width: 48%; float: right" type="button" class="btn btn-info" ng-click="logout()">Logout</button>
        </div>
      </form>
    </div>
  </div>
</div>
